
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Pic.jpg');
    /* Center and cover the background image */
    background-size: cover;
    background-position: center;
    /* Set a background color in case the image is not available */
    background-color: #f8f8f8;
    /* Set the font color */
    color: #333;
    /* Set font properties */
    font-family: Arial, sans-serif;
}

a
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}


.login-form {
    display: flex;
    flex-direction: column;
}


.form-group {
    margin-bottom: 15px;
}

/* Input styles */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Button styles */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Heading styles */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

    